table, th, td, tr{
    border: 2px black solid;
    border-collapse: collapse;
    text-align: center;

}

table{
    width: 1200px;
}

.info {
    width: 150px;
    text-align: center;
}

th{
    text-transform: uppercase;
}

td{
    text-align: justify;
}

.pokemones{
    
    height: 200px;
}