table, th, td, tr{
    border: 2px black solid;
    border-collapse: collapse;
    text-align: center;

}

.info {
    width: 150px;
    text-align: center;
}

th{
    text-transform: uppercase;
    font-size: large;
}

td{
    text-align: justify;
}

.demas {
    text-align: center;
}

.pokemones{
    
    height: 200px;
}

#papasfritas{
    height: 400px;
}

.CUARTETO {
    height: 200px;
}

#Nombre{
    width: 150px;
}

#jueves {
    height: 200px;
}

#descripcion {
    width: 400px;
}

body{
    background-color:rgb(36, 52, 65);
}

